---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../../layouts/BlogPost.astro';
import { render } from 'astro:content';
import { getTranslatedPathsFromArticles, getOneLanguageVersionPerPost, extractPostTitleFromId, getTranslatedPath } from '../../../i18n/utils';
import Layout from '../../../layouts/BlogPost.astro';
import { blogRoutes } from '../../../i18n/routes';



export function getStaticPaths() {	
	const params = getTranslatedPathsFromArticles(['blog', blogRoutes]);

  	return params;
}

const { lang, blog, slug} = Astro.params;

// const entry = await getEntry('nested', lang);

// if (!entry) {
//   throw new AstroError(`No nested content for lang=${lang}`);
// }

//const { Content } = await render(entry);
---
<Layout
	title={'title'}
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	
>
	<p>
		Lang: {lang} <br />
		Deep: {blog} <br/>	
        Deeper: {JSON.stringify(slug, null, 2)} <br/>		
	</p>	
	
</Layout>