---
import Layout from '../../layouts/BlogPost.astro';
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';

export function getStaticPaths() {
  return [     
	{ params: { lang: 'pl', blog: 'blog' }},
	{ params: { lang: 'en', blog: 'blog' }},  
	] 
}

const { lang, blog } = Astro.params;
---
<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<h2>About Me</h2>
	<p>
		Lang: {lang} <br />
		Blog: {blog}
	</p>
</Layout>